{% extends "base.html" %}
{% block content %}

<h2>{{ legend }}</h2>

<form method="POST" class="mt-4">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.subject.label(class="form-label") }}
        {{ form.subject(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.tags.label(class="form-label") }}
        {{ form.tags(class="form-control") }}
        <small class="text-muted">Example: ai, exam, revision</small>
    </div>

    <div class="mb-3">
        {{ form.resource_link.label(class="form-label") }}
        {{ form.resource_link(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows=5) }}
    </div>

    {{ form.submit(class="btn btn-primary") }}

</form>

{% endblock %}
